apscheduler==3.11.1
beautifulsoup4==4.14.2
fastapi==0.121.0
httpx==0.28.1
Jinja2==3.1.2
psycopg2==2.9.11
pydantic==2.12.3
pydantic_settings==2.11.0
pysnmp==7.1.22
python-dotenv==1.2.1
PyYAML==6.0.1
PyYAML==6.0.3
Requests==2.32.5
selenium==4.38.0
starlette==0.50.0
telnetlib3==2.0.4
urllib3==2.5.0
uvicorn==0.38.0
webdriver_manager==4.0.2
